[Ll]ibrary/
[Tt]emp/
[Bb]uild/
[Bb]uilds/
[Pp]rojectSettings/
[Oo]bj/
[Mm]emoryCaptures/

*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
